@import url("variables.css");
@import url("sidebar.css");
@import url("components.css");
article.markdown-section {
  margin: 0px;
  width: 100%;
}

article.markdown-section code:not([class]) {
  color: var(--code-color);
}

article.markdown-section hr {
  margin: 15px 0px;
}

article.markdown-section tr:nth-child(2n) {
  background-color: white;
}

article.markdown-section th {
  background-color: var(--theme-color-light);
  color: var(--code-color);
}

table th, table td {
  text-align: left;
}

table td code {
  margin: 0px;
}