.sidebar {
  padding-left: 20px;
}

.sidebar .app-name-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar .app-name-link img {
  height: 60px;
}

.sidebar .app-name-link span {
  position: relative;
  right: 8px;
}

.sidebar h1 {
  color: var(--theme-color);
  font-weight: 700;
  text-align: left;
}